[package]
name = "openconnect-core"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["lib"]

[dependencies]
anyhow = "1.0.80"
ctrlc = "3.4.2"
dotenvy = "0.15.7"
lazy_static = "1.4.0"
libc = "0.2.153"
openconnect-sys = { path = "../openconnect-sys" }
reqwest = { version = "0.11.24", features = ["multipart"] }
rustls = { version = "0.23.1", features = ["ring"] }
thiserror = "1.0.57"
tokio = { version = "1.36.0", features = ["full"] }
