[package]
name = "openconnect-sys"
version = "0.1.0"
edition = "2021"
build = "build/main.rs"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["lib"]

[build-dependencies]
bindgen = "0.69.4"
cc = "1.0.90"
home = { workspace = true }